@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    padding-left: 59px;
    padding-right: 71px;
    position: relative;
}

.navigation-container-menu {
    width: 42%;
    display: block;
}

.navigation-container-menu ul {
    padding-top: 12px;
}

.navigation-container-menu li {
    margin-bottom: 15px;
    margin-right: 9px;
}

.first-page-current::before {
    position: absolute;
    width: 70px;
    height: 2px;
    bottom: -1px;
    background-color: #756257;
    content: "";
}

.navigation-container-logo {
    width: 16%;
    display: flex;
    justify-content: center;
}

.logo-svg {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 531px;
}

.logo-svg img {
    max-width: 100%;
}

.bord {
    margin-bottom: 57px;
}

.logo {
    max-width: 100%;
}

.navigation-container-others {
    width: 42%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.navigation-container-menu .navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 3px 9px;
    border: 3px solid #FFFFFF;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    color: #756257;
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.navigation-container-menu .navigation-link:active {
    color: #756257;
    opacity: 0.3;
    border: 3px solid #FFFFFF;
}

.navigation-icon {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
    display: block;
}

.chosen {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7DB54F;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    margin: 0;
    transform: translate(12px, -27px);
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.main-container {
    flex-grow: 1;
}

.navigation-user .navigation-link {
    padding: 7px;
    border: 3px solid #FFFFFF;
    display: block;
}

.navigation-user li {
    margin-right: 1px;
}

.navigation-user li:nth-child(2) {
    margin-right: 23px;
}

.navigation-link:hover .navigation-icon {
    fill: #756257;
}

.navigation-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.navigation-link:focus .navigation-icon {
    fill: #756257;
}

.navigation-link:active .navigation-icon {
    fill: #756257;
    opacity: 0.3;
}

.navigation-user .navigation-link:active {
    border: 3px solid #FFFFFF;
}

.navigation-link:active .chosen {
    color: rgba(255,255,255,0.3);
}

.show-more {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #756257;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    cursor: pointer;
}

.show-more:hover {
    background-color: #615048;
}

.show-more:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
    outline-offset: -1px;
}

.show-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
}

.acquaintance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.acquaintance h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    padding-left: 1px;
    width: 720px;
}

.acquaintance p {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    width: 720px;
    margin-bottom: 80px;
}

.advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    background-color: #fff;
}

.canyon .cornflowerblue-color {
    grid-column: 3/4;
    padding-top: 97px;
    padding-bottom: 77px;
}

.advantage-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    background-color: #fff;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 183px;
}

.advantage-item h3 {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    margin-bottom: 18px;
}

.advantage-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.advantage-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 90px;
    margin-top: 0;
}

.advantages-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-list ul {
    padding-left: 0;
}

.advantages-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 0;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
}

.cornflowerblue-color {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-item {
    padding-top: 97px;
    padding-bottom: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-item h3 {
    margin-bottom: 30px;
}

.advantages-icon {
    margin-bottom: 30px;
    margin-top: 0;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: none;
    width: 250px;
    height: 73px;
    margin-top: 0;
    margin-bottom: 0;
}

.white-color {
    color: #FFFFFF;;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
}

.benefits:first-child {
    background: rgba(131, 179, 211, 0.12);
}

.benefits:last-child {
    background: rgba(131, 179, 211, 0.12);
}

.benefits h3,
.benefits p {
    margin: 0;
}

.benefits h3 {
    margin-bottom: 27px;
}

.benefits .advantages-icon {
    margin-bottom: 30px;
}

.benefits .advantages-description {
    margin-bottom: 78px;
}

.background-color {
    background-color: #FFFFFF;
}

.decorative-color {
    background-color:rgba(131, 179, 211, 0.2);
}

.search {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 89px;
}

.search p:first-child {
    margin-bottom: 30px;
    margin-top: 0;
}

.date-of-travel {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
    margin-bottom: 59px;
    margin-top: 0;
}

.hotel-search {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 575px;
    margin-bottom: 91px;
}

.hotel-search:hover {
    background-color: #615048;
}

.hotel-search:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
    outline-offset: -1px;
}

.hotel-search:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.newsletter {
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}

.newsletter-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 14px;
    margin-bottom: 16px;
    width: 720px;
}

.newsletter-description {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 26px;
    width: 520px;
    padding-bottom: 21px;
    margin-top: 0;
}

.newsletter-form {
    margin-bottom: 94px;
    display: flex;
}

.field {
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    line-height: 26px;
    padding: 0;
    border: 0;
    display: block;
    width: 581px;
    padding-left: 19px;
}

.field:hover {
    background: #E6E6E6;
}

.field:focus {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
    border-radius: 10px 0px 0px 10px;
}

.field:active {
    background: #FFFFFF;
    outline: 2px solid #000000;
    border-radius: 10px 0px 0px 10px;
    outline-offset: -2px;
}

.field:not(:placeholder-shown):not(:focus):invalid {
    outline: 2px solid #FF5757;
    background: #FFFFFF;
    outline-offset: -2px;
}

.subscribe {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    display: inline-block;
    padding: 0;
    border: 0;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: inherit;
}

.subscribe:hover {
    background: #68A2CA;
    border-radius: 0px 10px 10px 0px;
} 

.subscribe:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 0px 10px 10px 0px;
} 

.subscribe:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
} 

.page-footer {
    background-color: #FFFFFF;
    display: block;
    padding-top: 16px;
    padding-right: 52px;
    padding-left: 61px;
    padding-bottom: 24px;
    margin-top: auto;
}

.page-footer-container {
    display: flex;
    align-items: center;
}

.footer-social {
    width: 30%;
    margin-right: 12px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-link {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 34px;
    width: 34px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.footer-social-icon {
    fill: #83B3D3;
    display: block;
    margin: auto;
    position: absolute;
    inset: 0;
}

.footer-social-link:hover .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:focus  {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    outline: none;
}

.footer-social-link:focus .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:active {
    border: none;
    opacity: 0.3;
    border: 3px solid #FFFFFF;
}

.footer-social-link:active .footer-social-icon {
    fill: #68A2CA;
}

.twitter {
    margin-right: 3px;
}

.facebook {
    margin-right: 5px;
}

.footer-social-item:nth-child(1) {
    padding-top: 3px;
}

.footer-social-item:nth-child(2) {
    padding-top: 4px;
}

.footer-social-item:nth-child(3) {
    padding-top: 4px;
}

.contacts {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2px;
    padding-right: 20px;
}

.contacts-address {
    word-wrap: break-word;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    padding: 15px;
}

.contacts-address:hover {
    color: #756257;
}

.contacts-address:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.contacts-address:active {
    color: #756257;
    opacity: 0.3;
    outline: none;
}

.logo-htmlacademy {
    width: 115px;
    margin-left: auto;
    width: 30%;
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.logo-htmlacademy-icon {
    fill: #000000;
}

.logo-htmlacademy-link {
    padding: 16px 20px;
}

.logo-htmlacademy-link:hover .logo-htmlacademy-icon {
    fill: #756257;
}

.logo-htmlacademy-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.logo-htmlacademy-link:focus .logo-htmlacademy-icon {
    fill: #756257;
}

.logo-htmlacademy-link:active {
    opacity: 0.3;
    outline: none;
}

.logo-htmlacademy-link:active .logo-htmlacademy-icon {
    fill: #756257;
}

.main-inner {
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
}

.third-page-current::before {
    position: absolute;
    width: 93px;
    height: 2px;
    bottom: -1px;
    background-color: #756257;
    content: "";
}

.inner-header-title {
    font-size: 60px;
    line-height: 70px;
    margin: 0;
    padding-left: 8px;
}

.filter {
    background-image: url("../img/hotels/catalog-background.jpg");
    background-repeat: no-repeat;
    padding-top: 36px;
    padding-left: 64px;
    padding-right: 72px;
    padding-bottom: 65px;
}

.nav {
    display: flex;
    margin-bottom: 45px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:first-child {
    padding-left: 1px;
    position: relative;
}

.nav-item:first-child a {
    padding-right: 5px;
    padding-left: 17px;
    border: 3px solid rgba(131, 179, 211, 0);
    background-image: url("../img/hotels/home.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;
    max-width: 100%;
}

.nav-item:last-child a {
    padding: 0px 5px;
    border: 3px solid rgba(131, 179, 211, 0);
}

.arrow::after {
    background: url("../img/hotels/arrow.svg");
    background-repeat: no-repeat;
    display: inline-block;
    right: 11px;
    bottom: 6px;
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    opacity: 0.3;
    padding-right: 10px;
    right: -18px;
}

.nav-link {
    font-weight: normal;
    font-size: 16px;
}

.nav-link:last-child {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    opacity: 0.6;
}

.nav-item .nav-link:focus {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 4px;
    outline: none;
}

.nav-item .nav-link:active {
    opacity: 0.3;
    border: 3px solid rgba(131, 179, 211, 0);
}

.comfort-filter {
    display: flex;
    padding-left: 8px;
}

.comfort-filter-group {
    margin: 0;
    border: 0;
    padding: 0;
}

.comfort-filter-group:first-child {
    margin-right: 68px;
    max-width: 167px;
}

.comfort-filter-group:nth-child(2) {
    margin-right: 127px;
    max-width: 167px;
}

.comfort-filter-group:nth-child(3) {
    margin-right: 82px;
    padding-left: 41px;
}

.comfort-filter-group:nth-child(3) .comfort-filter-title {
    margin-bottom: 35px;
}

.comfort-filter-title {
    font-size: 20px;
    line-height: 26px;
}

.comfort-filter-title {
    margin-bottom: 31px;
    padding: 0;
}

.comfort-filter-list {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.comfort-filter-item:first-child {
    margin-bottom: 13px;
}

.comfort-filter-item:nth-child(2){
    margin-bottom: 13px;
}

.comfort-filter-item:last-child{
    margin-bottom: 15px;
}

.filter-right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 61px;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-top: 28px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
    cursor: pointer;
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: none;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.range-toggle:focus {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: -9px;
}

.control {
    position: relative;
    display: block;
    padding-left: 39px;
}

.check {
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0;
    fill: #3F5E72;
    width: 12px;
    height: 10px;
    max-width: 100%;
    display: block;
    margin: auto; 
    pointer-events: none;
}

.control-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    left: 0;
    border-radius: 4px;
    cursor: pointer;
}

.control-input[type="checkbox"]:checked ~ .check {
    opacity: 1;
}

.control-mark:hover {
    background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark{
    background: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.control-mark:active {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.control-input[type="radio"]:checked + .control-mark-circle::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-mark-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
}

.control-input:focus + .control-mark-circle {
    outline: 3px solid #83B3D3;
}

.control-label {
    font-weight: normal;
    line-height: 23px;
}

.comfort-border {
    display: flex;
}

.comfort-filter-label {
    font-weight: normal;
    line-height: 23px;
    text-align: right;
    display: flex;
    position: relative;
}

.comfort-filter-label:last-child {
    margin-left: -2px;
}

.comfort-filter-label:first-child .comfort-filter-input {
    border-radius: 4px 0 0 4px;
}

.comfort-filter-label:last-child .comfort-filter-input {
    border-radius: 0 4px 4px 0;
}

.comfort-filter-input {
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 10px;
    width: 121px;
    font: inherit;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    appearance: textfield;
    color: white;
}

.comfort-filter-input::-webkit-outer-spin-button,
.comfort-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.comfort-filter-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.comfort-filter-label:first-child .comfort-filter-input:focus {
    outline: 3px solid #81B3D2;
    border-radius: 4px 0px 0px 4px;
    z-index: 1;
    outline-offset: -5px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 3px rgba(129, 179, 210, 1);
}

.comfort-filter-label:last-child .comfort-filter-input:focus {
    outline: 3px solid #81B3D2;
    border-radius: 0px 4px 4px 0px;
    z-index: 1;
    outline-offset: -5px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 3px rgba(129, 179, 210, 1);
}

.comfort-filter-input:active {
    border: 2px solid rgba(255, 255, 255, 1);
    background: #756257;
}

.comfort-filter-from,
.comfort-filter-before {
    position: absolute;
    right: 15px;
    bottom: 14px;
    color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.button-submit, .button-reset {
    border: 0;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.button-submit {
    width: 160px;
    height: 48px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    display: inline-block;
}

.button-submit:hover {
    background-color: #68A2CA;
}

.button-submit:focus {
    background-color: #68A2CA;
    outline: 3px solid #FFFFFF;
    border-radius: 4px;
}

.button-submit:active {
    background-color: #68A2CA;
    outline: 3px solid rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 0.3);
}

.button-reset {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    width: 100px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.button-reset:hover {
    opacity: 0.6;
}

.button-reset:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-reset:active {
    outline: 3px solid rgba(255, 255, 255, 0);
    opacity: 0.3;
}

.catalog {
    background-color: #FFFFFF;
    color: #000000;
    padding-left: 72px;
    padding-right: 72px;
}

.hotels-card {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.catalog-info {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 43px;
    padding-left: 71px;
    padding-right: 72px;
    padding-bottom: 42px;
}

.catalog-left-column {
    width: 50%;
}

.catalog-center-column {
    width: 30%;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 49px;
}

.catalog-right-column {
    width: 20%;
}

.all-box {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.window-type {
    fill: #000000;
}

.card-grid-toggle-current {
    border: 2px solid #000000;
}

.catalog-right-column ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.catalog-right-column li {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.catalog-right-column li:nth-child(3n) {
    margin-right: 0;
}

.card-grid-toggle:hover {
    border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
    border: 2px solid #83B3D3;
    outline: none;
}

.card-grid-toggle:active {
    border: 2px solid #000000;
    outline: none;
}

.catalog-column {
    display: flex;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 15px;
    border-top: 1px solid #E6E6E6;
}

.catalog-column:last-child {
    border-bottom: 1px solid #E6E6E6;
}

.divider {
    display: grid;
    grid-template-columns: 180px 24px 159px 160px 373px;
    grid-template-rows: 45px 54px 47px;
}

.hotels-card-link {
    grid-row: 1/-1;
    grid-column: 1/2;
    display: block;
    height: 120px;
}

.hotels-card-box {
    padding-top: 11px;
}

.hotels-card-link:hover {
    opacity: 0.6;
}

.hotels-card-link:focus {
    outline: 3px solid #83B3D3;
    outline-offset: -1px;
}

.hotels-card-link:active {
    outline: none;
    opacity: 0.3;
}

.hotels-card-image {
    max-width: 100%;
}

.rating-column {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 17px 67px 37px;
}

.rating-column div:first-child {
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.rating-column div:last-child {
    grid-row: 3/4;
    padding-top: 10px;
}

.star {
    margin-right: 3.5px;
    padding-left: 3.5px;
}

.list-of-hotels {
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.sorting-type {
    box-sizing: border-box;
    height: 48px;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.select-control {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: inherit;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    width: 100%;
    outline: none;
    background-image: url("../img/hotels/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 19px center;
    padding-left: 16px;
    padding-right: 16px;
    appearance: none;
    cursor: pointer;
}

.select-control:hover,
.select-control:focus {
    border-color: #83B3D3;
}

.select-control:active {
    border-color: #E6E6E6;
    color: rgba(51, 51, 51, 0.3);
}

.hotels-card-title {
    text-decoration: none;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 13px;
}

.hotels-card-title:hover h3 {
    color: #756257;
}

.hotels-card-title:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.hotels-card-title:focus h3 {
    color: #756257;
}

.hotels-card-title:active h3 {
    color: #756257;
    opacity: 0.3;
}

.hotels-card-title:active {
    outline: 3px solid rgba(131, 179, 211, 0);
}

.hotels-card-title h3 {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
    padding-left: 1px;
}

.type {
    padding-left: 1px;
}

.type, .type-price {
    line-height: 23px;
    color: #333333;
    font-weight: normal;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 151px 160px ;
    grid-template-rows: 55px 37px;
    column-gap: 8px;
    margin-top: -6px;
    padding-left: 12px;
}

.more-details {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-details:hover {
    background-color: #615048;
}

.more-details:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.more-details:active {
    background-color: #615048;
    outline: 3px solid rgba(131, 179, 211, 0);
    color: rgba(255, 255, 255, 0.3)
}

.favorites {
    font-size: 16px;
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.favorites:hover {
    background-color: #68A2CA;
    outline: 1px solid #756257;
    outline-offset: -1px;
    border-radius: 4px;
}

.favorites:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.favorites:active {
    background-color: #68A2CA;
    outline: 1px solid #756257;
    outline-offset: -1px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    font-weight: normal;
    font-size: 16px;    
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 160px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
}

.favorites-green {
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 4px;
    display: block;
    padding: 0;
    border: 0;
}

.favorites-green:hover {
    background-color: #6C9E42;
    outline: 1px solid #756257;
    outline-offset: -1px;
    border-radius: 4px;
}

.favorites-green:focus {
    background-color: #6C9E42;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.favorites-green:active {
    background-color: #6C9E42;
    outline: 1px solid #756257;
    outline-offset: -1px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.divider-top-bottom {
    text-align: center;
    padding-top: 30px;
    padding-right: 215px;
    padding-bottom: 30px;
    padding-left: 216px;
    border-bottom: 1px solid #E6E6E6;
}

.divider div:last-child {
    grid-column: 3/5;
    grid-row: 1/4;
}

.pagination-column {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
}

.pagination-left-column {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.pagination-right-column {
    margin-left: auto;
}

.pagination-right-column form {
    display: flex;
    align-items: center;
}

.pagination-show-more {
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    display: block;
    border: 0;
    padding: 0;
    width: 625px;
    height: 55px;
    cursor: pointer;
}

.pagination-show-more:hover {
    background-color: #68A2CA;
}

.pagination-show-more:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.pagination-show-more:active {
    background-color: #68A2CA;
    outline: 3px solid rgba(117, 98, 87, 0);
    color: rgba(255, 255, 255, 0.3);
}

.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.pagination-item {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #83B3D3;
    border-radius: 4px;
    margin-right: 7.9px;
}

.pagination-link {
    text-decoration: none;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-link:hover,
.pagination-current:hover {
    background-color: #68A2CA;
    border-radius: 4px;
    color: rgba(255, 255, 255);
}

.pagination-link:focus,
.pagination-current:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.pagination-link:active,
.pagination-current:active {
    background-color: #68A2CA;
    outline: 3px solid rgba(117, 98, 87, 0);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.current-item {
    background-color: #F2F2F2;
}

.pagination-current {
    color: #000000;
}

.sorting-type-pages {
    font: inherit;
    font-weight: normal;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    display: inline-block;
    width: 160px;
    height: 48px;
    padding-left: 15px;
    background-image: url("../img/hotels/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-color: transparent;
    appearance: none;
}

.sorting-type-pages:hover {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.sorting-type-pages:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.sorting-type-pages:active {
    border: 2px solid rgba(131, 179, 211, 0);
    border-radius: 4px;
    outline: none;
}

.page-info {
    font-weight: normal;
    line-height: 23px;
    color: #333333;
    margin-right: 51px;
}

.newsletter-catalog {
    text-align: center;
    color:  #000000;
    background-color: #FFFFFF;
    padding-top: 87px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
}

.newsletter-catalog p {
    color: #333333;
}

.house {
    background-image: url("../img/index/house.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.icon-house {
    background: rgba(131, 179, 211, 0.12);
    background-image: url("../img/index/icon-house.svg");
    background-repeat: no-repeat;
    background-position-x: 163px;
    background-position-y: 89px;
}

.icon-eat {
    background-image: url("../img/index/icon-eat.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 91px;
}

.souvenir {
    background: rgba(131, 179, 211, 0.12);
    background-image: url("../img/index/icon-souvenir.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 85px;
}

.canyon {
    background-image: url("../img/index/canyon.jpg");
    background-repeat: no-repeat;
}

.background-footer {
    background-image: url("../img/index/background-footer.jpg");
    background-repeat: no-repeat;
}


